/* Footer */
footer{
	width: 100%;
	height: 30px;
	background-color: #2c2c2c;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
footer p{
	margin: 0px;
}
/* Footer */
/**/
@media screen and (max-width: 675px){
    footer{
		font-size: 13px;
	}
}
@media screen and (max-width: 515px){
    footer{
		font-size: 11px;
	}
}