/* NAV */
nav{
	background-color: #FFBF00;
	height: 50px;
	width: 100%;
	display: flex;
    justify-content: space-between;
    padding: 0px 25px;
    padding: 0px 30px;
    box-sizing: border-box;
	align-items: center;
}
nav button{
    outline: none;
}
.nav-desk{
	margin: 0px;
    padding: 0px;
    display: flex;
    list-style-type: none;
	font-size: 22px;
}
.nav-desk li a, .nav-mobile li a{
	display: block;
    padding: 10px 25px;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: 700;
	border-radius: 3px;
}
nav ul li a:hover, .nav-mobile li button:hover, .btn-mobile:hover{
	background-color: #ffd760;
}
nav .logo a, .nav-mobile li button{
	display: block;
    font-weight: 100;
    font-size: 32px;
	color: white;
    text-decoration: none;
	padding: 10px;
    border-radius: 3px;
}
/* NAV */
/* MOBILE */
.btn-mobile{
    display: none;
    background-color: var(--primaria);
    border: none;
    margin-left: auto;
    margin-right: 0px;
    cursor: pointer;
    font-weight: 100;
    font-size: 32px;
	color: white;
    text-decoration: none;
	/*padding: 10px;*/
    border-radius: 3px;
}
.nav-cortina{
    display: none;
    background-color: #16161633;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 98;
}
.nav-mobile{
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    list-style-type: none;
	font-size: 22px;
    width: 150px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: var(--primaria);
    z-index: 99;
}
.nav-mobile li button{
    background-color: var(--primaria);
    border: none;
    margin-left: auto;
    margin-right: 0px;
    cursor: pointer;
    padding: 3px 15px;
}
@media screen and (max-width: 560px){
    .nav-desk{
        display: none;
    }
    .btn-mobile{
        display: block;
    }
}
/* MOBILE */