.wrapper{
	box-shadow: none;
	padding: 0px;
	background-color: transparent;
}
/* Campo */
.campo{
	padding: 15px;
	box-shadow: var(--shadow-secundaria);
	border-radius: 3px;
	display: flex;
    flex-direction: column;
	background-color: var(--secundaria);
	font-weight: 600;
}
.campo span{
	margin-bottom: 5px;
}
.campo input[type='text']{
	border: none;
    background-color: var(--terciaria);
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 16px;
    outline: none;
	font-family: 'Roboto', sans-serif;
}
/* Campo */
/* Search */
.search{
	padding: 15px;
	box-shadow: var(--shadow-secundaria);
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
	background-color: var(--secundaria);
	font-weight: 600;
    margin-bottom: 5px;
}
.search > div{
	display: flex;
    flex-direction: column;
}
.search input[type='text'], .search input[type='date']{
	border: none;
    background-color: var(--terciaria);
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 16px;
    outline: none;
	font-family: 'Roboto', sans-serif;
}
.search input[type='submit']{
	border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 3px;
	box-shadow: 2px 2px 7px #00000025;
	font-weight: 600;
	font-size: 20px;
	cursor: pointer;
	background-color: #18A0FB;
	margin-top: 5px;
}
/* Search */
/* Receitas */
.header{
	background-color: var(--nav-primaria);
	/* height: 35px; */
	width: 100%;
	border-radius: 5px 5px 0px 0px;
	color: white;
	display: flex;
    justify-content: space-between;
	padding: 0px 10px;
    box-sizing: border-box;
	font-weight: 800;
    font-size: 20px;
}
.campo.body{
	padding: 0px;
}
.receitas .header .item{
	padding: 10px 0px;
	box-sizing: border-box;
}
.receitas .body .item{
	height: 40px;
    display: flex;
    align-items: center;
}
.receitas .body .item.numero{
	padding-left: 10px;
}
.receitas .body .item.acoes{
	padding-right: 10px;
}
.receitas .item.numero{
	width: 10%;
}
.receitas .item.criador{
	width: 30%;
}
.receitas .item.criador .adm{
	color: #A11111;
	text-decoration: none;
}
.receitas .item.criador .usuario{
	color: #1878b9;
	text-decoration: none;
}
.receitas .item.titulo{
	width: 30%;
}
.receitas .item.status{
	width: 10%;
}
.receitas .item.status .analize, .receitas .item.status .aceito, .receitas .item.status .recusado, .receitas .item.status .removido{
	color: white;
	padding: 5px;
	border-radius: 3px;
	width: 100%;
    text-align: center;
}
.receitas .item.status .analize{
	background-color: #FFBF00;
}
.receitas .item.status .aceito{
	background-color: #21ba45;
}
.receitas .item.status .recusado{
	background-color: #db2828;
}
.receitas .item.status .removido{
	background-color: #161616;
}
.receitas .item.data{
	width: 10%;
}
.receitas .item.acoes{
	width: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.receitas .body .receita{
	display: flex;
}
.receitas .body .receita:hover {
    background-color: #2c2c2c14;
    background-color: #efefef;
}
.receita{
	/* margin-bottom: 10px; */
}
.receita:last-child{
	margin-bottom: 0px;
}
.receitas .botoes{
	display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.receitas .botoes i, .receitas .botoes a{
    width: 50%;
    padding: 3px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
	transition: transform 0.5s ease;
	text-decoration: none;
}
.receitas .botoes i:first-child{
	border-radius: 3px 0px 0px 3px;
}
.receitas .botoes i:last-child{
	border-radius: 0px 3px 3px 0px;
}
.receitas .botoes:only-child{
	border-radius: 3px 3px 3px 3px;
}
.receitas .botoes i.fa-trash{
	background-color: #161616;
}
.receitas .botoes i.fa-check{
	background-color: #18A0FB;
}
.receitas .botoes i.fa-check:hover{
	background-color: #1694e8;
	transform: scale(1.1);
}
.receitas .botoes i.fa-times{
	background-color: #FB3318;
}
.receitas .botoes i.fa-eye{
	background-color: #FFBF00;
	width: 100%;
}
.receitas .botoes i.fa-times:hover{
	background-color: #ea2f16;
	transform: scale(1.1);
}
.receitas .botoes i.fa-eye:hover{
	background-color: #FFBF00;
	transform: scale(1.1);
}
.receitas .botoes i.fa-trash:hover{
	background-color: #2d2d2d;
	transform: scale(1.1);
}
/* Receitas */
/* Pages */
.pages{
	margin-top: 10px;
	display: flex;
}
.pages #ativo{
	background-color: var(--nav-primaria);
    color: white;
}
.pages a{
	height: 35px;
	width: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	box-shadow: var(--shadow-secundaria);
	margin-right: 5px;
	border-radius: 3px;
	color: black;
	text-decoration: none;
	font-weight: 800;
}
/* Pages */
/* Modal */
.modal-container{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #00000078;
	width: 100%;
	height: 100%;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}
.modal{
	border-radius: 3px;
	display: flex;
    flex-direction: column;
}
.modal .head{
	display: flex;
    flex-direction: column;
	align-items: center;
	padding: 15px 15px 5px 15px;
}
.modal .head i{
	color: white;
	font-size: 60px;
	margin-bottom: 25px;
}
.modal h3{
	margin: 0px;
	font-size: 35px;
	color: white;
}
.modal small{
	color: white;
	font-size: 18px;
	margin-left: 20px;
}
.modal .buttons{
	display: flex;
    align-items: center;
    justify-content: space-between;
	margin-top: 35px;
	padding: 0px 15px;
	min-width: 300px;
}
.modal .buttons button{
	border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 3px;
    box-shadow: 2px 2px 7px #00000025;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
}
.modal .buttons #sim{
	background-color: #18A0FB;
}
.modal .buttons #nao{
	background-color: #FB3318;
}
/* Modal */