:root{
	--nav-primaria: #2c2c2c;
	--nav-secundaria: #ffffff;
}
nav{
	color: var(--nav-secundaria);
	background-color: var(--nav-primaria);
	width: 100%;
	height: 52px;
}
nav h1{
	text-align: center;
    font-weight: 300;
	font-size: 35px;
	margin: 0px;
}
nav .nav-container{
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: var(--nav-primaria);
	width: 80px;
	/*display: none;*/
}
nav .nav-container ul{
	margin: 0px;
	padding: 0px;
	height: 100%;
	display: flex;
    flex-direction: column;
}
nav .nav-container ul a{
	color: white;
}
nav .nav-container ul li:first-child{
	border-top: none;
	text-align: center;
	font-size: 27px;
}
nav .nav-container ul li a{
	background-color: #353535;
    border-top: 1px solid #464646;
    border-bottom: 1px solid #2f2f2f;
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
	color: white;
	text-decoration: none;
	height: 50px;
}
nav .nav-container ul li i{
	font-size: 27px;
}
nav .nav-container ul li small{
	font-size: 12px;
}
nav .nav-container ul li:last-child{
	border-bottom: 1px solid #464646;
	display: block;
	margin-top: auto;
	margin-bottom: 0px;
}
nav .nav-container ul li a:hover{
	background-color: #444444;
}

/* Mobile */
.open-mobile-nav-button {
    background-color: #2c2c2c;
    border: none;
    color: white;
    height: 52px;
    width: 52px;
    position: fixed;
    top: 0px;
	left: 0px;
	font-size: 25px;
	cursor: pointer;
	display: none;
	z-index: 50;
    border-radius: 3px;
}
.open-mobile-nav-button:hover{
    background-color: #474747;
}
.mobile-cortina{
	display: none;
    background-color: #16161633;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    z-index: 98;
}
.close-mobile-nav-button{
	position: fixed;
    top: 5px;
	right: 5px;
	color: white;
	background-color: transparent;
	border: none;
	font-size: 25px;
	border-radius: 5px;
	cursor: pointer;
}
.mobile-nav-button:hover{
	background-color: #c3c3c340;
}
.mobile{
	width: unset !important;
}
.mobile.nav-container ul li i {
    height: 30px;
	padding: 0px 10px;
}
.mobile.nav-container ul li a {
    flex-direction: row;
    justify-content: space-between;
}
.mobile.nav-container ul li small {
    font-size: 14px;
    padding-right: 10px;
}
.mobile ul li:first-child a{
	justify-content: center;
}
/* Mobile */
@media screen and (max-width: 560px){
	nav .nav-container {
		display: none; 
	}
	nav .mobile.nav-container {
		display: block; 
	}
	.open-mobile-nav-button {
		display: block;
	}
	.open-mobile-nav-button {
		display: block;
	}
}